.pagination {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pagination-control {
  flex-grow: 1;
}

.pagination button,
.pagination input {
  padding: 0.5rem;
  margin: 0.5rem;
}

.pagination-summary {
  font-size: 1rem;
}
