.app {
  width: 80vw;
  margin: 2rem auto;
  font-size: 2rem;
}

.app > header {
  text-align: center;
  font-size: 4rem;
  padding: var(--gap);
  border-bottom: 1px solid #000;
  margin: var(--gap--big) 0;
}

.app-paging-control {
  font-size: 1rem;
  line-height: 2rem;
}
